/*Padding to create left and right page gutters */
.App {
  padding: 0 4rem;
}

.page-body {
  padding: 10rem;
} 

/* Disable horizontal scrolling, clip horizontally-overflowing content */
html, body {
  overflow-x: hidden;
}

/* Overriding some of Bootstrap's default styling */
p {
  margin-bottom: 0;
}

button {
  padding: 0px 0px;
}

/* ----- 24G font variations and brand colors----- */

@font-face {
  font-family: BrandonBold;
  src: local('BrandonBold'), url(./fonts/BRANDON_BLD.otf) format('opentype');
}

@font-face {
  font-family: BrandonLight;
  src: local('BrandonLight'), url(./fonts/BRANDON_LIGHT.otf) format('opentype');
}

@font-face {
  font-family: BrandonMedium;
  src: local('BrandonMedium'), url(./fonts/BRANDON_MED.otf) format('opentype');
}

@font-face {
  font-family: BrandonRegular;
  src: local('BrandonRegular'), url(./fonts/BRANDON_REG.otf) format('opentype');
}

.brandon-bold {
  font-family: BrandonBold;
}

.brandon-light {
  font-family: BrandonLight;
}

.brandon-medium {
  font-family: BrandonMedium;
}

.brandon-regular {
  font-family: BrandonRegular;
}

.gray {
  color: #393C3E;
}

.orange {
  color: #FAA61A;
}

.blue {
  color: #009DDB;
}

.blue-bg {
  background-color: #009DDB;
}

/* ----- Header styling ----- */

.full-width-bar {
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
}

.navbar p {
  color: white;
}

#welcome-header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#welcome-text {
  font-size: 20pt;
  margin: 7px 0;
  letter-spacing: .05em;
}

#logo-header {
  align-items: flex-start;
  background-color: #393C3E;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#headline-text {
  font-size: 28pt;
  margin-top: 60px;
  letter-spacing: .1em;
}

#logo {
  margin: 29px 25px 29px 0px;
}

/* ----- Subheader styling ----- */

#subheader {
  font-size: 28pt;
  margin: 97px 0 24px 0;
  color:#393C3E;
}

/* ----- Video player styling ----- */

.video-active {
  height: 100% !important;
  width: 100% !important;
}

.react-player__preview {
  height: 39vw !important;
}

/* ----- Thumbnail Button styling ----- */

.thumbnail  {
  padding: 0 1rem 1rem 0;
}

.thumbnail img {
  display: block;
  width: 22vw;
}

button {
  border: none;
  background-color: transparent;
  box-sizing:border-box;
}

button:active, button:hover, button:focus {
  border: none;
  outline:none;
  box-sizing:border-box;
}

.thumbnail img:active, .thumbnail img:hover, .thumbnail img:focus {
  outline:none;
  border: 6px solid orange;
  margin: -3px -3px;
}

/* ----- Video statistics styling ----- */

.stats-row {
  border-bottom: 3px solid #EBEBEB;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.stats {
  font-size: 21pt;
  margin: 10px 0px 30px 0px;
}

.likes-text {
  color: #faa61a;
}

.dislike {
  margin-left: 40px;
}

.thumb {
  margin: 10px 7px 0px 0px;
}

img.thumb:active, img.thumb:hover, img.thumb:focus {
  width: 25px;
}

/* ----- Footer styling ----- */

.footer {
  text-align: center;
  font-size: 25pt;
  margin: 60px 0px;
  letter-spacing: .05em;
}


/* ----- TESTING STYLES----- */

/* .video-stats {
  background-color: green;
} */

/* .video-wrapper {
  border:2px solid green;
} */

/* .video-wrapper div div {
  height: 100% !important;
  width: 100% !important;
} */