/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
} */


.navbar {
  background-color: #393C3E;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

/* *{
  font-family: 'Poppins', sans-serif
} */
