/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
} */

/* ----- 24G font variations----- */

@font-face {
  font-family: BrandonBold;
  src: local('BrandonBold'), url(./fonts/BRANDON_BLD.otf) format('opentype');
}

@font-face {
  font-family: BrandonLight;
  src: local('BrandonLight'), url(./fonts/BRANDON_LIGHT.otf) format('opentype');
}

@font-face {
  font-family: BrandonMedium;
  src: local('BrandonMedium'), url(./fonts/BRANDON_MED.otf) format('opentype');
}

@font-face {
  font-family: BrandonRegular;
  src: local('BrandonRegular'), url(./fonts/BRANDON_REG.otf) format('opentype');
}

.brandon-bold {
  font-family: BrandonBold;
}

.brandon-light {
  font-family: BrandonLight;
}

.brandon-medium {
  font-family: BrandonMedium;
}

.brandon-regular {
  font-family: BrandonRegular;
}

/* ----- Header styling ----- */

#logo-header {
  align-items: flex-start;
  background-color: #393C3E;
  display: flex;
  flex-direction: row;
  font-size: 20pt;
  justify-content: left;
  letter-spacing: .1em;
}

#welcome-header {
  align-items: flex-start;
  background-color: #009DDB;
  display: flex;
  flex-direction: row;
  justify-content: left;
  letter-spacing: .05em;
}

.navbar p {
  color: white;
}

/* ----- Thumbnail styling ----- */

.thumbnail {
  height: 100px;
  width: 100px;
}